{% extends 'base.html.twig' %}

{% block title %}Companies{% endblock %}

{% block body %}
	<div>
		login as {{ app.user.email }}
		<span style="float: right">
			{{ include('common/logout.html.twig') }}
		</span>
	</div>
{% endblock %}
