{% extends 'base.html.twig' %}

{% block body %}
    {% block menu %}
        <ul>
            <li><a href="{{ path('dashboard') }}">Dashboard</a> </li>
            <li><a href="{{ path('synthesis', {id: operation.id}) }}">synthesis</a></li>
            <li><a href="{{ path('listOfLots', {id: operation.id}) }}">Lots</a></li>
        </ul>
    {% endblock menu %}

    {% block content %}
        synthesis of operation {{ operation.id }}
    {% endblock content %}
{% endblock body %}