{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
	<div>
		Login as <b>{{ app.user.email }}</b>
		<span style="float: right">
			{{ include('common/logout.html.twig') }}
		</span>
	</div>
{% endblock %}